@font-face {
    font-family: helveticaBlack;
    src: url(../fonts/HelveticaLTStd-Blk.otf);
}
@font-face {
    font-family: helveticaLight;
    src: url(../fonts/HelveticaLTStd-Light.otf);
}
@font-face {
    font-family: helveticaBold;
    src: url(../fonts/HelveticaNeueLTPro-Bd.otf);
}
@font-face {
    font-family: helveticaBlackItalic;
    src: url(../fonts/HelveticaNeueLTStd-BlkIt.otf);
}
@font-face {
    font-family: myriadProLight;
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: myriadProReg;
    src: url(../fonts/MyriadPro-Regular.otf);
}