footer{
	background: $celeste;
	color:white;
	padding-top:15px;
	padding-bottom:15px;
	a{
		display: block;
		color: white;
		font-size: 12px;
		&:hover{
			text-decoration: none;
			border-bottom: 1px solid #EEE;
		}
	}
	#footer__logo{
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}