.content__links{
	background: white;
	a{
		color: $beige;
		font-size: $xs;
		display: inline-block;
		padding: $s;
	}
}

.header__navbar{
	background: $celeste;
	margin-left:-15px;
	margin-right:-15px;
	ul li{
		a{
			color:white;
			font-family: $myriad-pro-light;
		}
	}
}
.navbar-toggler{
	background-color: white;
	color: $celeste;
	text-align:center;
	cursor: pointer;
}
.dropdown-menu{
	border:none;
	border-radius:0;
	background-color: rgba(255,255,255,0.75);
}
.dropdown-item,
.header__navbar ul li a.dropdown-item{
	color:$celeste;
	font-size:13px;
	&:hover{
		background:$celeste;
		color: white;
	}
}