// styles
*{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

figure{
	position:relative;
}
article{
	transition: all ease-in-out 0.2s;
	&:hover{
		opacity: 0.85;
	}
}
section{padding-top:15px; padding-bottom:15px;}

.ver-mas{
	font-size:$xs;
	color: $celeste;
	font-size:13px;
	transition: all ease-in-out 0.2s;
	display:block;
	clear:left;
	float:right;
	&:hover{
		opacity: 0.6;
	}
	i{
		font-size: $l;
	}
}

//colores
.celeste{color:$celeste;}
.celeste-claro{color:$celeste-claro;}
.beige{color:$beige;}

//texto
h1{
	font-size:$xl;
	@include media-breakpoint-down(lg){
		font-size:$l;
	}
}
h2{
	font-size:$l;
	padding-top:0;
	@include media-breakpoint-down(lg){
		font-size:$m;
	}
}
h3{
	font-size:$m;
	@include media-breakpoint-down(lg){
		font-size:$s;
	}
}
h4{
	font-size:$s;
	@include media-breakpoint-down(lg){
		font-size:$xs;
	}
}
h5{
	font-size:$xs;
	@include media-breakpoint-down(lg){
		font-size:$xxs;
	}
}
h6{
	font-size:$xxs;
	@include media-breakpoint-down(lg){
		font-size:8px;
	}
}
h1, h2, h3, h4, h5, h6{
	padding:1em 0;
}

article{
	overflow:hidden;
}

.article__principal figure img{
	@include media-breakpoint-up(lg){
		height:100%;
	}
}
.category .article__principal figure img{
	@include media-breakpoint-up(lg){
		height:auto;
	}
}

.video{
	width: 100%;
	position:relative;
	margin-bottom:1em;
		video{
			width: 100%;
			height: auto;
			margin-bottom: 1em;
		}
}

// correcciones bootstrap
.container-fluid{
	max-width:1140px;
}
.container{
	@include media-breakpoint-down(lg){
		width:100%;
	}
}
.navbar{
	padding-top:0;
	padding-bottom:0;
}
a{
	color:inherit;
}

#buscador,
.nav__search{
	display:flex;
	flex-direction:center;
	align-items:center;
	padding:15px;
	box-sizing:border-box;
	label{
		display: none;
	}
	input[type=text]{
		height: 23px;
	}
}
input[type=submit]{
	font-size:14px;
	color:white;
	background:$azul;
	border:none;
	border-radius:5px;
}

_::-webkit-full-page-media, _:future, :root .carousel-inner {
	left:0;
	top:0;
}

//home
.section__index,
.container-fluid.section__index{
	padding-bottom:15px;
}

#carouselBlog{
	.article__secondary{
		.video{
			position: absolute;
				video{
					max-width: 300px;
					max-height: 400px;
					margin-bottom: 0;
				}
		}
		&.article__secondary-mobile{
			.row__noticias-article{
				.video{
					left: 15px;
					width: calc(100% - 30px);
				}
			}
		}
	}
	.video{
		overflow: hidden;
		height: 100%;
		width: calc(100% - 30px);
		width: 100%;	
		position: absolute;
		top: 0;
		//left: 15px;
		video{
			position: absolute; 
			bottom: 0px; 
			right: 0px; 
			min-width: 100%; 
			min-height: 100%; 
			width: auto; 
			height: auto; 
			//z-index: -1000; 
			overflow: hidden; 
		}
	}
}

//noticias home
.row__noticias{
	margin:0;
	padding:15px 0;
	background: $celeste-claro;
	margin-bottom: 45px;
	.ver-mas{
		color: white;
	}
	@include media-breakpoint-down(md){
		height: auto;
	}
}

.row__noticias-article{
	//position:relative;
	margin-bottom:15px;
	height: calc(33.33% - 15px);
	opacity:1;
	cursor:pointer;
	overflow:hidden;
	&.active,
	&:hover{
		opacity: 1;
		transition: all ease-in-out 0.2s;
	}
	&.active{
		//box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
	}
	figure{
		margin-bottom: 0;
		height:100%;
		position:relative;
		display: flex;
		img{
			display: block;
			position:absolute;				
			//height: 100%;
			width: auto;
			top:0;
			left:0;
			max-width: none;
			min-width: 100%;
			min-height: 100%;
			@include media-breakpoint-up(lg){
				position:absolute;				
				height: 100%;
				width: auto;
				top:0;
				left:0;
				//max-width: none;
				min-width: 100%;
				min-height: 100%;
			}
		}
	}
	@include media-breakpoint-down(lg){
		font-size:28px;
	}
}
.row__noticias-article.article__principal{
	height: 530px;
	min-height: 530px;
	overflow: hidden;
	//position: initial;
	@include media-breakpoint-down(sm){
		height: 250px;
		max-height: 250px;
		min-height: 0;
	}
	@include media-breakpoint-down(md){
		height: 400px;
		max-height: 400px;
		min-height: 0;
	}
	.article__caption{
		//width: calc(100% - 30px);
		@include media-breakpoint-down(md){
			//position:relative;
			width: 100%;
		}
	}
}
.article__caption{
	position:absolute;
	width:100%;
	padding:15px 5%;
	bottom:0;
	background:rgba(153,170,196,0.4);
	color:white;
	-webkit-text-fill-color:#FFF;
	_::-webkit-full-page-media, _:future, :root .safari_only {
		position:relative;
	}
	&:hover{
		background:rgba(153,170,196,0.75);
		transition: all ease-in-out 0.2s;
		//mix-blend-mode: multiply;
	}
	h2, h3, h5, p{
		line-height: 1;
		padding:0;
		margin:0;
	}
	p{
		margin-bottom: 0;
		color: white;
		line-height: 1.3;
		letter-spacing: 0.5px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Solo para Safari */
    ::i-block-chrome,.row__noticias{
    	display: block;
    	.carousel-inner{
    		width: inherit;
    		display: block;
    		float: left;
    	}
    }
    ::i-block-chrome,.article__secondary{
    	float: left;
    	display: block;
    }
}
.article__secondary{
	&.article__secondary-mobile{
		padding-left:15px;
		padding-right:15px;
		width: calc(100% + 30px);
		.row__noticias-article{
			height: auto;
			position:relative;
			height: 160px;
			.video{
				left: 15px;
				width: calc(100% - 30px);
			}
			.article__caption{
				width: calc(100% - 30px);
			}
			figure{
				height: auto;
				display: block;
				width: 100%;
				height: 160px;
				overflow: hidden;
				img{
					display: block;
				    position: relative;
				    //width: 100%;
				    //height: 160px;
				    top: 0;
				    left: 0;
				    max-width: none;
				    //min-width: 0;
				    min-height: 0;
				}
			}
		}
	}
	.article__caption{
		.article__headline{
			font-size: $m;
			font-family: $helvetica-bold;
			@include media-breakpoint-up(xl){
				font-size: $l;
			}
			a{
				color: white;
				text-decoration: none;
			}
		} 
		.article__subhead{
			display: none;
		}
		.article__category{
			font-size: $xs;
		}
		.article__lead{
			font-size: $s;
			display: none;
			@include media-breakpoint-up(xl){
				display: block;
			}
		}
	}
}
.carousel-indicators {
	margin:0; 
	li{
		list-style:none;
		position:relative;
	}
}
.article__headline{
	font-family: $helvetica-bold;
	letter-spacing: 0.5px;
}
.row__noticias-article .article__headline{
	font-size: $xl;
	margin-bottom:15px;
	a{
		color: white;
	}
}




.carousel-item.active,
.carousel-item-next,
.carousel-item-prev
{
    /*SET IN BS AS FLEXBOX. SO PERSPECTIVE SCALE DID NOT WORK*/
    display:block;
}


.carousel-inner>.carousel-item>a>img,
.carousel-inner>.carousel-item>img,
.img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

.carousel-inner .carousel-item,
.carousel-inner .active.carousel-item-left,
.carousel-inner .active.carousel-item-right
{
    opacity:0;
}

.carousel-inner .active,
.carousel-inner .carousel-item-next.carousel-item-left,
.carousel-inner .carousel-item-previous.carousel-item-right
{
    opacity: 1;
}

.carousel-item.active,
.active.carousel-item-left,
.active.carousel-item-prev,
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right
{
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.row__sala-article,
.row__avances-article{
	padding-bottom:15px;
	.article__headline{
		font-size: $l;
		color:$gris-medio;
		padding:0;
		margin:0 0 15px;
	}
	.article__lead{
		color:$celeste;
	}
	figure{
		overflow: hidden;
		max-height: 110px;
		@include media-breakpoint-up(lg){
			//max-height: 110px;
		}
		.article__caption{
			padding:$xs $xxs;
		}
	}	
}
.article__subhead{
	font-size:$xxl;
	@include media-breakpoint-down(lg){
		font-size:18px;
	}
}
.article__category{
	text-transform:uppercase;
	font-size: $s;
	letter-spacing: 0.5px;
}
.article__lead{
	font-size: $m;
}

.row__secondary{
	margin-bottom:15px;
	.col__secondary-left,
	.col__secondary-right{
		margin-bottom: 15px;
	}
}

.row__secondary-title{
	color:$celeste;
	text-transform:uppercase;
	font-family:$myriad-pro-reg;
	padding-top:0;
}
.row__bibl{
	display:flex;
}
.row__news{
	@include media-breakpoint-down(sm){
		margin: 15px 0;
	}
	.row{
		margin-left:0; margin-right:0;
	}
}
.row__bibl-doc,
.row__bibl-pub,
.row__news-left,
.row__news-right{
	width:50%;
	line-height:140px;
	text-align:center;
	color:white;
	justify-content: center;
    display: flex;
    flex-direction: column;
	&:hover{
		color: white;
		text-decoration: none;
		opacity: 0.75;
	}
}
.row__bibl-doc,
.row__news-left{
	background:$azul;
}
.row__bibl-pub{
	background:$verde;
}

.row__news-left{
	line-height:1;
	padding:15px;
}
.row__news-right{
	background:$celeste-claro;
	padding:15px;
	display:flex;
	align-items:center;
	justify-content:center;
	line-height:1.3;
	h5{
		color: $celeste;
		font-size: $m;
		text-transform: uppercase;
	}
}
.col__secondary-agenda{
	background:$gris;
	padding:15px;
	margin-top: 38px;
	margin-bottom:15px;
}
.agenda__item{
	background:$celeste-claro;
	align-items: center;
	color:$gris-medio;
	transition: all ease-in-out 0.2s;
	margin-bottom:$xs;
	&:hover{
		background:$periwinkle-gray;
		color: $celeste;
		text-decoration: none;
	}
}
.agenda__item-date{
	font-size:13px;
	font-family:$myriad-pro-light;
}
.agenda__item-arrow{
	font-size:$xxl;
	color:$celeste;
	&:hover{
		color: $azul;
	}
}

.rse__article{
	//min-height:394px;
	position:relative;
	display:flex;
	min-height:0;
	height:auto;
	max-height:400px;
	.ver-mas{
		color: white;
	}
	figure{
		height: 100%;
		width: 100%;
		display: block;
		margin: 0;
		img{
			display: block;
		    max-width: none;
		    width: 100%;
		    @include media-breakpoint-down(sm){
		    	min-height: 100%;
			    min-width: 100%;
			    height: 100%;
		    }
		}
	}
	.article__lead{
		margin-bottom: 15px;
		font-size:$s;
		line-height: 1.2;
	}
	.article__category{
		font-size: $m;
	}
	.article__headline{
		font-size: $xl;
		a{
			&:hover{
				color: white;
			}
		}		
	}
}

// category
.main__title{
	font-family: $helvetica-bold;
	text-align:center;
	font-size: $xxl;
	color:$gris-medio;
}
.category__article{
	padding:15px;
	figure{
		min-height: 100px;
	}
}
.article__link{
	display:block;
	&:hover{
		text-decoration: none;
	}
}
.category__headline{
	font-family:$helvetica-bold;
	color:$gris-medio;
	padding-top:0;
	font-size:22px;
}
.category__lead{
	color: black;
	font-size: $m;
}

// artículo
.article__content,
.article__news{
	&:hover{
		opacity: 1;
	}
	img{
		max-width: 100%;
		height: auto;
	}
}
.article__date{
	float:right;
	clear:left;
	margin:0;
	color:$gris-medio;
}
.article__author,
.article__main-category{
	color:$gris-medio;
}
.article__main-title{
	clear:both;
	font-family:$helvetica-bold;
	margin-bottom:0;
	font-size:$xxl;
	color:$gris-medio;
}
.article__lead{
	//font-family:$myriad-pro-reg;
	color:$gris-medio;
	font-size:$s;
	text-align:justify;
}

.post-categories{
	padding:0;
	margin-bottom:0;
	li{
		list-style: none;
		a{
			color: white;
		}
	}
}

//single

.single{
	.article__lead{
		font-size: 16px;
		color: $celeste;
	}
	.img-principal{
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 15px;
	}
}
.aside__content{
	//border-left: 1px solid $gris;
	background:$celeste-claro;
	h3{
		font-weight: bold;
	}
}

.related_post_title{
	font-family: $helvetica-bold;
	width:100%;
}

.recent__news{
	display:block;
	padding:0;
	li{
		list-style: none;
		font-size: $m;
		margin: $xs 0;
		a{
			display: flex;
			justify-content: flex-start;
			align-items:center;
			img{
				margin-right: 15px;
			}
		}
	}
}

// search
.new__search{
	padding:15px;
	width:100%;
	box-sizing:border-box;
	display:flex;
	align-items:center;
}

// footer
.footer__links{
	border-left: 1px solid white;
}