// Colores
$celeste: #199afc;
$celeste-claro: #ddebf6;
$beige: #a39d74;
$gris:#d9e6ef;
$gris-medio:#99AEC9;
$periwinkle-gray:#d7e3ef;
$azul:#2976d0;
$azul-oscuro:#004077;
$verde:#00a19a;

// Tamaño pixeles
$xxs:8px;
$xs: 10px;
$s: 12px;
$m: 15px;
$l: 20px;
$xl:26px;
$xxl:36px;

// Fuentes tipográficas
$helvetica-black: helveticaBlack;
$helvetica-light: helveticaLight;
$helvetica-bold: helveticaBold;
$helvetica-black-italic: helveticaBlackItalic;
$myriad-pro-light: myriadProLight;
$myriad-pro-reg: myriadProReg;
