//$enable-flex: true;
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "fonts";
@import "variables";
@import "header";
@import "footer";
@import "styles";

/* Space out content a bit */
body {
  background: none;
  font-size: 1em;
  font-family: $helvetica-light, 'Roboto', sans-serif;
}
